<p><%= title %></p>
    <%= form_for @image ,html: { multipart: true } do |f| %>
    <%= f.label :description %>
    <%= f.text_field :description ,class:'form-control' %><br>
    <%= f.label :foto %>
    <%= f.file_field :foto %><br>
    <%= f.submit  %>
<% end %>
