<div class="row"> 
<% @image.each do |image| %>
<figure>
	<% if image.foto.attached? %>
	     <%= image_tag image.foto, :style=>'width:250px;' %>
	<% end %>
		<!-- <img src="../../../public/img/bills.jpg" class="figure-img img-fluid rounded" alt=""> -->
		<figcaption class="figure-caption">
			<%= link_to 'Editar',edit_image_path(image) %>
			<%= link_to 'Eliminar',image,method: :delete,data:{confirm:"seguro?"} %>
		</figcaption>
	</figure>
	 <% end %>
</div>
<br>






<!--************************************************************* -->
<!-- <table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Descipcion</th>
			<th>Fecha que se creo</th>
			<th>Fecha que se actualizó</th>
			<th>Editar</th>
			<th>Eliminar</th>
		</tr>
	</thead>
	<tbody>
      <% @image.each do |image| %>
		<tr>
			<td><%= image.id %></td>
			<td><%= image.description %></td>
			<td><%= image.created_at %></td>
			<td><%= image.updated_at %></td>
			<td><%= link_to 'Editar',edit_image_path(image) %></td>
			<td><%= link_to 'Eliminar',image,method: :delete,data:{confirm:"seguro?"} %></td>
		</tr>
	 <% end %>
	</tbody>
</table> -->
